@{
    ViewData["Title"] = "Sign In";
}
<style>
    a {
        background: #69D2E7;
        color: white;
        text-decoration: none;
        padding: 7px;
    }
</style>


<div>
        <a asp-controller="Home" asp-action="SignIn">Sign In</a>
        <a asp-controller="Home" asp-action="Register" >Register</a>
    </div>