@{
    ViewData["Title"] = "Sign In";
}


<div>

    <form asp-controller="Home" asp-action="SignIn">
        LOGIN USING MOBILE:
        <input name="mobile"/>
        <button type="submit"> Login</button>
    </form>

</div>